<div class="row">
    <div class="col-sm-4 my-2 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                 <!--container for chart-->
            </div>
            <div class="card-footer">
                <p class="text-muted normal text-center">
                    Sales per day(bar chart)
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-2 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                 <!--container for chart-->
            </div>
            <div class="card-footer">
                <p class="text-muted normal text-center">
                    Sales per products(bar chart)
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-2 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                 <!--container for chart-->
            </div>
            <div class="card-footer">
                <p class="text-muted normal text-center">
                    Sales per categories(bar chart)
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row my-2 clearfix">
    <div class="col-4 text-center">
        <div class="card">
            <div class="card-body">
                <span class="display-5">
                    View Products
                </span>
                <hr>
                <p class="lead">
                    View the current product list
                </p>
                <button type="button" class="btn btn-info btn-sm btn-block">View</button>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="card">
            <div class="card-body">
                <span class="display-5">
                    View Sales
                </span>
                <hr>
                <p class="lead">
                    View today's sales list
                </p>
                <button class="btn btn-info btn-sm btn-block">View</button>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="card">
            <div class="card-body">
                <span class="display-5">
                    View site traffic
                </span>
                <hr>
                <p class="lead">
                    View site statistics
                </p>
                <button class="btn btn-info btn-sm btn-block">View</button>
            </div>
        </div>
    </div>
</div>