<!--footer-->
<footer class="sticky-footer text-center position-relative shadow">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-4 col-sm-12 p-3">
                    <ul class="footer-list">
                        <h4 class="display-4">contact Us</h4>
                        <p class="lead"><i class=""></i>No 1 jarule str</p>
                        <p class="lead"><i class=""></i>okeibunoremma@gmail.com</p>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-12 p-3">
                    <ul class="footer-list">
                        <h6 class="display-6">Social media</h6>
                        <p class="lead"><i class="fab fa-instagram"></i>Tr_hazard</p>
                        <p class="lead"><i class="fab fa-facebook"></i>Okeibunor Emmanuel</p>
                        <p class="lead"><i class="fab fa-twitter"></i>okeibunoremman3</p>
                        <img src="/images/camera.jpg" class="shadow" alt="" style="width: 15rem; height:10rem;border-radius:50px">
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-12 p-3">
                    <ul class="">
                       {{!-- //third segment of footer --}}
                    </ul>
                </div>
        </div>
    </div>
    <p class="text-muted lead">trEXtech@copyright 2020.</p>
</footer>