<header class="categories-header">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">trEX stores</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 d-block bd-sidebar">
            <div class="sidebar-sticky">
               <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion-sidebar">
                   <div class="sidebar-brand d-flex aligncontent-center">
                       <br>
                       <p class="lead">Categories<i class="fas fa-laugh-wink"></i></p>
                   </div>
                   <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                      <!-- Heading -->
                    <div class="sidebar-heading">
                        <p class="text-muted">
                            Shop
                        </p>
                    </div>
                    <!-- Nav Item - Electronics -->
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Electronics</span></a>
                    </li>
                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item accordion">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#fashion" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Fashion</span>
                        </a>
                        <div id="fashion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Select section</h6>
                            <a class="collapse-item" href="#">Male</a>
                            <a class="collapse-item" href="#">Female</a>
                            <a href="#" class="collapse-item">Children</a>
                        </div>
                        </div>
                    </li>
               </ul>
            </div>
        </div>
    </div>
</div>