{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/stylesheets/categories.css">
{{/section}}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(63, 50, 33);font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style:normal">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-white" href="#">TrexStores Categories</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron-fluid store-head shadow">
    <p class="text-center">
         TrEx Stores
        <p class="lead text-center text-mute small">the most convinient payment methods on the web</p>
    </p>
</div>
<div id="page-info" class="bg-light my-2 text-center">
  <p class="display-5">
    <i class="fas fa-laugh-wink"></i>
    Shop by Category
  </p>
</div>
<main class="container-fluid wrapper my-3 bg-light">
  <!--row one-->
  <section class="row justify-content mx-auto my-4">
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white men">
        <img src="/images/classic.jpg" alt="Men's Fashion" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Men's Fashion
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white women">
        <img src="/images/four-brown-straw-hats-display-1078973.jpg" alt="Women's Fashion" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Women's Fashion
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white children">
        <img src="/images/sneakers.jpg" alt="Children's Fashion" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Children's Fashion
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white furniture">
        <img src="/images/apartment_chair.jpg" alt="Furniture" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Furniture
          </p>
        </div>
      </div>
    </div>  
  </section>
  <!--row two-->
  <section class="row justify-content mx-auto my-4">
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white utilities">
        <img src="/images/cooperate.jpg" alt="Utilites" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Utilites
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white sports">
        <img src="/images/macro-photography-of-pair-of-black-and-white-nike-running-1124466.jpg" alt="Sports" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Sports
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white gadgets">
        <img src="/images/camera.jpg" alt="Gadgets" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Gadgets
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 my-1">
      <div class="card bg-light shadow-sm text-white mobiles">
        <img src="/images/apple_products.jpg" alt="Mobile" class="card-img">
        <div class="card-img-overlay">
          <p class="lead text-right card-title">
            Mobile and PC's
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

{{#section 'javascript'}}
  <script src="/javascripts/categories.js"></script>
{{/section}}

{{> footer}}
