<header class="container-fluid p-2 header">
    <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand font-weight-bold" href="#">
        trEX stores
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link">About us</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link">Contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          USD-dollers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">BTC-bitcoin</a>
          <a class="dropdown-item" href="#">ETH</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">others</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" id="searchbtn" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>

<div class="jumbotron-fluid store-head shadow">
    <p class="lead text-center display-3">
        Welcome to trEx Stores
        <p class="text-center lead">the most convinient payment methods on the web</p>
    </p>
</div>
<br>
<p class="text-center display-5">
    Featured Products
</p>
{{!-- end of header --}}
{{!-- carosel --}}
<div id="carousel" class="carousel slide p-4" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/public/images/apartmant_chair" class="d-block w-100" alt=".....gu.">
    </div>
    <div class="carousel-item">
      <img src="/public/images/sneakers.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/public/images/cooperate.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!--shop carosel slider-->
{{> footer}}
