<div class="card">
    <div class="card-body">
        <p class="lead">Thank you for contacting us you would receive a response shortly. <br>
             Click <a href="/">here</a> to get back to the home page </p>
    </div>
</div>