:root{
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body{
    font: outline;
    font-style: italic;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.jumbotron-fluid{
    padding-bottom: 2rem;
    height: 30rem;
    color: rgb(114, 113, 111);
    background-image: url(/images/armchair.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
    image-rendering: auto;
    font: outline;
    font-style: italic;
    font-family: cursive;
    font-weight: 700;
    font-size: 3rem;
}
.text-mute{
    font-size: 1rem;
    color: ghostwhite;
}
.featured{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: outline;
    font-style: italic;
}
#searchbtn{
    border-radius: 50px;
    outline: floralwhite;
}
.header{
    color: rgb(114, 113, 111);
    background-color: rgb(63, 50, 33);
    background-size: contain;
    background-clip: inherit;
    transition: inherit;
    font: outline;
    font-style: italic;
    font-family: cursive;
}
.sticky-footer{
    color: ghostwhite;
    background-color: rgb(63, 50, 33);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: small;
}
.review-submit{
    background-color: rgb(63, 50, 33);
    border-radius: 50px;
}
.about-page{
    padding-bottom: 2rem;
    height: max-content;
    background-color: rgb(63, 50, 33);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
    image-rendering: auto;
}
.about-header{
    background-color: rgb(63, 50, 33);
    background-size: contain;
    color: white;
}
#contact_image{
    padding-bottom: 2rem;
    height: 30rem;
    background-image: url(/images/personpointing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: saturation;
    image-rendering: auto;
}
#featuredImage:hover{
    background-color: rgb(247, 244, 244);
    padding: -2px -2px -2px -2px;
    border-color: black;
}
.btn-sm{
    border-radius: 50px;
}
.img-fluid:hover{
    transform: scale(0.8);
}
.media:hover{
    background-color: ivory;
}
.bg-login-image{
    background-image: url(/images/armchair.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
    image-rendering: auto;
    object-fit: contain;
    height: auto;
    width: auto;
}
.login-form{
    background-color: bisque;
}
.login-button{
    background-color: azure;
    color: black
}
.product-card:hover{
    transform: scale(1.2);
}
.dash-card:hover{
    transform:scale(0.9)
}
